/*
Designer: Xatai
Site: Perfect.az
Facebook: https://fb.com/xetai.isayev
*/

@media only screen and (max-width:1380px) {
.main-slider .owl-nav .owl-prev {margin-left:0; left: 20px;}
.main-slider .owl-nav .owl-next {margin-right:0; right: 20px;}
}
@media only screen and (max-width:1300px) {
.product-view-a .product-view-left {width:60%;}
.product-view-a .product-view-right {padding-left: 30px}
}
@media only screen and (max-width:1260px) {
.main-slider-info-a .main-slider-title {font-size: 38px; line-height: 46px; max-width:580px;}
}
@media only screen and (max-width:1200px) {
.product-view-a .product-view-left {float:none; max-width:100%; margin: 0 auto 40px; width:700px;}
.product-view-a .product-view-right {padding-left: 0;}
}
@media only screen and (max-width:1100px) {
.category-item-a .category-image {padding: 10px 0;}
.footer-m {flex-wrap: wrap;}
.footer-m .footer-col-d {width:100%; min-width:0}
.footer-social .f-tl {margin-bottom:16px}
}
@media only screen and (max-width:1000px) {
.header-left .top-menu, .header-right .language, .h-items .h-item.h-favorite {display:none;}
.main-slider-info-a .main-slider-title {font-size:30px; line-height: 38px; max-width:400px;}
.category-list {margin: 0 -10px;}
.category-list .category-item {padding: 0 10px;}
.category-info .ct-a {margin-bottom:6px;}
.category-info .ct-b {font-size:18px; line-height: 24px;}
.testimonials-list .testimonial-item {width: 100%;}
.blog-list .blog-item {width:50%;}
.blog-list .blog-item:nth-child(3n+1) {clear:none}
.blog-list .blog-item:nth-child(2n+1) {clear:both}
.h-menu {display:block;}
}
@media only screen and (max-width:820px) {
.main-slider-item .main-slider-info {position:static; display:block;}
.main-slider-info .main-slider-info-a {margin-left: 0; max-width:none; padding: 20px 20px 64px 20px; background: #070029;}
.main-slider-image {position:relative;}
.main-slider-image img {object-position: right;}
.main-slider-image:after {content: ""; display:block; width:100%; height: 140px; position:absolute; left:0; bottom:0; background: linear-gradient(180deg, rgba(7, 0, 41, 0.00) 0%, #070029 100%)}
.main-slider-info-a .main-slider-title {max-width:none;}
.main-slider .owl-nav {display:none;}
.main-slider .owl-dots {display:block;}
.categories, .products {padding: 48px 0;}
.j-head {margin-bottom:28px;}
.j-head .j-title {font-size:32px; line-height: 38px;}
.j-head .j-desc {font-size:15px; line-height: 22px;}
.category-list {margin-bottom: -20px;}
.category-list .category-item {width:50%; padding-bottom:20px;}
.category-item-a .category-image {padding: 10px 36px}
.category-info .ct-a {margin-bottom:8px;}
.category-info .ct-b {font-size:22px; line-height: 28px;}
.footer-m>div {width:100%;}
.footer-m .footer-col-b, .footer-m .footer-col-c {width:50%;}
.footer-m .footer-col-d {margin-top:12px;}
.lg-page {padding: 64px 0;}
.about-page, .testimonials-page, .contact-page, .faq-page {padding: 28px 0 72px}
.about-page .about-page-wrap, .blog-view .blog-view-wrap, .contact-page .contact-page-wrap, .faq-page .faq-page-wrap {padding: 40px 20px;}
.bg-title, .my-profile-wrap .mpr-title {font-size:32px; line-height: 40px;}
.my-profile-wrap .mpr-title {margin-bottom:20px;}
.testimonial-item .tmn-a {padding: 30px;}
.blog-view {padding: 28px 0;}
.blog-view-title {font-size:28px; line-height: 36px;}
.my-profile {padding: 28px 0 64px;}
.m-logout {display:none;}
.my-profile-head ul {-ms-overflow-style: none; scrollbar-width: none; margin: 0 -20px; padding: 0 20px}
.my-profile-head ul::-webkit-scrollbar {height: 0; width: 0;display: none}
.pr-form {padding: 40px 20px;}
.product-view-a {padding: 24px;}
.product-view-a .product-view-left {margin-bottom:32px;}
}
@media only screen and (max-width:700px) {
.blog-list .blog-item {width:100%;}
.product-gallery .slider-thumbs {width: 90px;}
.sn-item img, .slider-video img {max-height: 88px;}
.product-gallery {padding-left: 102px;}
}
@media only screen and (max-width:600px) {
.centered {padding: 0 16px}
.container {padding-top: 56px;}
.h-items .h-item {margin-left: 16px;}
.header-left .logo {margin-right: 0;}
.header-left .logo a, .header-left .logo img {height: 32px;}
.header-wrap .header-right {padding: 16px 0;}
.main-slider-info .main-slider-info-a {padding-bottom: 56px;}
.main-slider-info-a .main-slider-title {font-size:28px; line-height: 36px;}
.main-slider-info-a .main-slider-desc br {display:none;}
.main-slider .owl-dots {bottom:32px}
.categories, .products {padding: 40px 0;}
.j-head {margin-bottom:24px;}
.j-head .j-title {font-size:28px; line-height: 36px;}
.j-head .j-desc {font-size:14px; line-height: 20px;}
.category-item-a .category-image {padding: 10px 0;}
.category-list {margin: 0 -8px -16px;}
.category-list .category-item {padding: 0 8px 16px;}
.category-info .ct-a {margin-bottom:6px;}
.category-info .ct-b {font-size: 18px; line-height: 24px;}
.p-m .centered {padding-right: 0}
.product-carousel .product-item {max-width:230px;}
.product-info .product-title {font-size:14px; line-height:20px;}
.footer {padding: 32px 0;}
.footer-logo img {height: 48px;}
.lg-page {padding: 48px 0;}
.lg-page-wrap .lg-form {padding: 48px 16px}
.about-page, .testimonials-page, .contact-page, .faq-page {padding: 24px 0 64px}
.about-page .centered, .blog-view .centered, .contact-page .centered, .faq-page .centered {padding:0}
.about-page .about-page-wrap, .blog-view .blog-view-wrap, .contact-page .contact-page-wrap, .faq-page .faq-page-wrap {padding: 32px 16px;}
.bg-title, .my-profile-wrap .mpr-title {font-size:28px; line-height: 36px;}
.my-profile-wrap .mpr-title {margin-bottom:16px;}
.testimonial-item .tmn-a {padding: 20px 16px;}
.tmn-a .tmn-image {width: 72px; height: 72px}
.tmn-a .tmn-right {padding-left: 12px}
.tmn-top .tmn-name {font-size:16px; line-height: 22px;}
.tmn-top .tmn-spec {margin-bottom:8px;}
.tmn-top .tmn-rating {margin-bottom:16px;}
.tmn-rating ul li {width:20px; height: 20px; background-size:cover;}
.tmn-right .tmn-top:before {width:36px; height: 36px; background-size:cover;}
.tmn-comment {font-size:14px; line-height: 20px; letter-spacing: 0.5px;}
.blog-view {padding: 24px 0;}
.blog-view-title {font-size:20px; line-height: 28px;}
.m-modal .ps-a {padding: 20px 16px}
.fq-accordion-section .fq-accordion-header {padding: 20px 70px 20px 20px}
.mobile-menu .mobile-menu-h {padding: 12px 16px}
.mobile-menu .mobile-menu-b {top: 57px;}
.my-profile {padding: 24px 0 64px;}
.my-profile-head ul {margin: 0 -16px; padding: 0 16px}
.my-profile-block {border-radius: 0; margin: 0 -16px}
.pr-form {padding: 32px 16px;}
.product-view-a {padding: 16px; margin-top:0;}
.product-view .centered, .review .centered {padding: 0;}
.product-gallery {padding-left:0;}
.product-gallery .slider-thumbs {position:static;}
.slider-big-image {margin-bottom:12px;}
.slider-big-image:before {padding-top: 102%;}
.product-gallery .slider-thumbs {width:100%; display:flex;}
.sn-item, .slider-video {width:90px; margin-right: 12px; margin-bottom:0;}
.product-gallery .slider-nav {width: auto; display:flex;}
.slider-video {min-width: 90px;}
.sn-item:last-child {margin-right:0;}
.product-view-a .product-view-left {margin-bottom:24px;}
.review .review-wrap {padding: 24px 16px}
.pr-first {padding-top: 16px;}
}
@media only screen and (max-width:500px) {
.category-item-a .category-info {padding: 16px 10px 24px}
.category-info .ct-a {margin-bottom:4px;}
.category-info .ct-b {font-size: 14px; line-height: 20px;}
}
@media only screen and (max-width:450px) {
.footer-subs-form {width:100%;}
.footer-subs-text br {display:none}
.product-spec .pr-spec-list ul li {width:100%;}
}
@media only screen and (max-width:380px) {
.product-view-extra {flex-wrap: wrap;}
.product-view-extra .pr-reserve {min-width:100%; margin: 0 0 12px 0;}
}
@media only screen and (max-width:370px) {
.product-reserve.m-modal .ps-a {padding: 20px 0}
.product-reserve .share-bl {border-radius:0; max-width:100%;}
}
/* .product-carousel .product-item {min-width:270px;} */